<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
  </startup>
  
<connectionStrings>
  <add name="PassengerCarCompanyEntities" connectionString="metadata=res://*/PassengerCarCompany.csdl|res://*/PassengerCarCompany.ssdl|res://*/PassengerCarCompany.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PassengerCarCompany;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Sql Server" connectionString="Data Source=localhost;Initial Catalog=PassengerCarCompany;Integrated Security=True"/>
</connectionStrings>
</configuration>